html, body {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

td {
    padding: 5px 15px;
}

.minus, .add {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    background: #ccc;
}

.value input {
    width: 200px;
}